<h5>
  <%= render 'shared/notifications' %>
</h5>

<h5>
  <% if @order != nil %>
  購入完了商品
    <% @order_items.each do |order_item| %>
    <% product = Product.find(order_item.product_id) %>
    <li>
      商品名：<%= product.title %>
      価格：<%= order_item.price %>円
      購入個数：<%= order_item.quantity %>個
    </li>
    <% end %>
  <% end %>

</h5>
