<%= form_for(current_user.cart_items.build(user_id: @user.id, product_id: @product.id)) do |f| %>
  <div><%= f.hidden_field :user_id %>
  </div>
  <%= f.submit "カート追加", class: "btn btn-large btn-primary" %>
  <% end %>
