<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "shopping site", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "サインアップ ", signup_path %></li>
        <li><%= link_to "サインイン", '#' %></li>
        <li><%= link_to "カート内商品", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
